/*main container*/
.flex-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: dotted;
  border-color: #000000;
  border-width: 2px;
  padding: 20px;
  display: flex;
  margin-bottom: 32px; /* Change from flex to inline-block */
  /* Remove flex-direction, justify-content, align-items */
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: black;
  margin: 0;
}

.Image img {
  height: 600px;
  width: auto;
  display: block;
  margin: auto;
}

a:link {
  color: antiquewhite;
  text-decoration: none;
}

a:visited {
  color: cornflowerblue;
  text-decoration: none;
}
