body {
  background-color: rgb(31, 31, 31);
  margin: 0;
  padding: 0;
}

.home-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

img {
  float: right;
  height: auto;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.welcome {
  color: darkkhaki;
  font-size: 2em;
}

.links {
  color: antiquewhite;
  text-decoration: none;
}

li {
  padding: 4px;
}

/*clicking link styles*/
a:link {
  color: antiquewhite;
  text-decoration: none;
}

a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  color: darkkhaki;
  text-decoration: none;
}
