/*footer style not working

footer{ 
        color: #bdb76b;
        margin:0;
        padding:0;
        

}*/

body {
  margin: 0;
  padding: 0;
  background-image: url("Images/dogfood.jpg ");
  background-size: cover;
  background-repeat: repeat;
}

.nosifer-regular {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #faf7f7;
}

h2 {
  font-family: "Arial", sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 4px;
}

.flex-container {
  text-align: center;
  width: 100vw;

  background-color: darkkhaki;

  /* Remove flex-direction, justify-content, align-items */
}

.skeleton img {
  height: 80px;
  width: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 12px;
  display: inline-block;
  width: 100vw;
  margin: 0;
}

p {
  font-family: "Arial", sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}

#click {
  font-size: 12px;
}

.image-gallery img {
  cursor: pointer;
  height: auto;
  display: block; /* Adjust as needed */
}

.center-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

<!--Sidebar-- > body {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  background-color: darkkhaki;
  margin: 0;
}

.sidebar {
  width: 100px;
  background: rgb(31, 31, 31);
  color: #faf7f7;
  min-height: 100vh;
  padding-top: 0px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: #faf7f7;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  display: block;
}

.sidebar a:hover {
  background: #bdb76b;
  color: #2f2f2f;
}

.main-content {
  margin-left: 100px; /* same as sidebar width */
  padding: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  display: none;
  margin: 0;
  padding: 0;
  color: #f9f5f5;
  font-size: 42px;
  text-align: center;
  font-family: "Nosifer";
  margin-top: 0px;
  background-color: #141313;
}

.image-gallery {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery img {
  display: block; /* Removes extra space below images */
}

.page2 {
  text-align: center;
  margin-top: 30px;
  font-size: 3em;
}

.page2 a {
  text-decoration: none;
  color: antiquewhite;
}

.page1 {
  text-align: center;
  margin-top: 30px;
  font-size: 3em;
}

.page1 a {
  text-decoration: none;
  color: antiquewhite;
}
